:root {
    --green: #00FF00;
    --cornsilk: cornsilk;
    --black: #000000;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*  background-color: var(--cornsilk); */
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    font-family: Helvetica, Arial;
    font-size: 18px;
    background: var(--bg);
}

h1 {
    color:rgb(45, 45, 155);
    font-size: 40px;
    margin-bottom: 20px;
}

.icon {
    width: 50px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

li {
    text-decoration: none;
    display: inline;
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.hello {
    width: 65%;
    float: left;
    padding-right: 30px;
}
.links {
    width: 35%;
    float: right;
    text-decoration: none
}


.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }

.light-theme {
    --bg: var(--cornsilk);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--cornsilk);
  }
  
 .dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--cornsilk);
    --btnFontColor: var(--black);
  }

